<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img width="200" height="46" src="/images/logo-1721178244.png" class="footer-logo" alt="Tania Fitness Logo" loading="lazy" />
                <p>
                    ¡Estoy aquí para inspirarte a alcanzar tu mejor versión! Con dedicación, disciplina y pasión, juntas lograremos tus objetivos de salud y bienestar.
                </p>
                <div class="footer-social">
                    <a href="https://wa.me/59897287514" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Whatsapp"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
                    <a href="https://www.tiktok.com/@soytaniamachado" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="TikTok"><i class="fa-brands fa-tiktok" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/@TaniaFitness" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/soytaniamachado/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <h3 class="widget-title">Información</h3>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/sobre-mi">Sobre mí</a></li>
                        <li><a href="/contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <h3 class="widget-title">Planes</h3>
                    <ul>
                        <li><a href="/servicios/plan-premium-online">Plan Premium Online</a></li>
                        <li><a href="/servicios/plan-standard-online">Plan Standard Online</a></li>
                        <li><a href="/servicios/plan-mini-gym">Plan Mini Gym</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <a href="/">Tania Fitness</a> - Todos los derechos reservados.
            </div>
            <div class="col-md-4">
                <a href="https://feippe.com" target="_blank">Feippe - Desarrollo web - 2025</a>
            </div>
        </div>
    </div>
    <div class="backtotop" id="backtotop"></div>
</div>